.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
}

.header-list {
  display: flex;
  margin-left: auto;
}

.header-connect {
  margin-left: auto;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -28;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  opacity: 0;
}
.header-link::after {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link.email:hover,
.header-contact-link.email:focus {
  color: #2196f3;
}

.header-contacts {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
  }
  & {
    margin-right: 10px;
  }
}

.header-contact-link {
  display: flex;
  align-items: center;
  &.phone:hover,
  &.phone:focus {
    color: #2196f3;
  }
}

.current {
  color: var(--accent-color);
}
